@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafbfc;
  --foreground: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-sans antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
