@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #18181b;
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply bg-zinc-50 font-sans text-zinc-900 antialiased;
}

@layer components {
  .card {
    @apply rounded-xl border border-zinc-200 bg-white shadow-sm;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
